* {
  box-sizing: border-box;
}

body {
  margin: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  cursor: zoom-in;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.03);
  transition: height, 150ms ease-in-out;
}

.large-img {
  width: 1112px;
  height: 640px;
}
